@{
    ViewData["Title"] = "Checkout";
}
@model Codecool.CodecoolShop.Models.CheckoutViewModel

<div class="row">
    <div class="col">
        <div class="container">
            <form method="post">
                <fieldset>
                    <legend>Your personal data</legend>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Phone" class="form-label"></label>
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <legend class="mb-3">Your billing adress</legend>
                            <div>
                                <div>
                                    <label asp-for="YourCountry" class="form-label"></label>
                                    <input asp-for="YourCountry" class="form-control" />
                                    <span asp-validation-for="YourCountry" class="text-danger"></span>
                                </div>
                                <div>
                                    <label asp-for="YourCity" class="form-label"></label>
                                    <input asp-for="YourCity" class="form-control" />
                                    <span asp-validation-for="YourCity" class="text-danger"></span>
                                </div>
                                <div>
                                    <label asp-for="YourZipcode" class="form-label"></label>
                                    <input asp-for="YourZipcode" class="form-control" />
                                    <span asp-validation-for="YourZipcode" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="YourAdress" class="form-label"></label>
                                    <input asp-for="YourAdress" class="form-control" />
                                    <span asp-validation-for="YourAdress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <legend class="mb-3">Your shipping adress</legend>
                            <div>
                                <div>
                                    <label asp-for="ShippingCountry" class="form-label"></label>
                                    <input asp-for="ShippingCountry" class="form-control" />
                                    <span asp-validation-for="ShippingCountry" class="text-danger"></span>
                                </div>
                                <div>
                                    <label asp-for="ShippingCity" class="form-label"></label>
                                    <input asp-for="ShippingCity" class="form-control" />
                                    <span asp-validation-for="ShippingCity" class="text-danger"></span>
                                </div>
                                <div>
                                    <label asp-for="ShippingZipcode" class="form-label"></label>
                                    <input asp-for="ShippingZipcode" class="form-control" />
                                    <span asp-validation-for="ShippingZipcode" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="ShippingAdress" class="form-label"></label>
                                    <input asp-for="ShippingAdress" class="form-control" />
                                    <span asp-validation-for="ShippingAdress" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
