@{
    ViewData["Title"] = "Checkout";
}
<div class="row">
    <div class="col">
        <div class="container">
            <form method="post">
                <fieldset>
                    <legend>Your personal data</legend>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input class="form-control" type="text" id="name" name="name" value="" required/>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input class="form-control" type="text" id="email" name="email" value="" required/>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number:</label>
                        <input type="text" class="form-control" id="phone" name="phone" value="" required/>
                    </div>
                    <div class="row">
                        <div class="col-md">
                            <legend class="mb-3">Your billing adress</legend>
                            <div>
                                <div>
                                    <label for="yourCountry" class="form-label">Country</label>
                                    <input type="text" class="form-control" id="yourCountry" value="" name="yourCountry" required/>
                                </div>
                                <div>
                                    <label for="yourCity" class="form-label">City:</label>
                                    <input type="text" class="form-control" id="yourCity" name="yourCity" value="" required/>
                                </div>
                                <div>
                                    <label for="yourZipcode" class="form-label">Zipcode:</label>
                                    <input type="text" class="form-control" id="yourZipcode" name="yourZipcode" value="" required/>
                                </div>
                                <div class="mb-3">
                                    <label for="yourAdress" class="form-label">Adress:</label>
                                    <input type="text" class="form-control" id="yourAdress" name="yourAdress" value="" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <legend class="mb-3">Your shipping adress</legend>
                            <div>
                                <div>
                                    <label for="shippingCountry" class="form-label">Country</label>
                                    <input type="text" class="form-control" id="shippingCountry" name="shippingCountry" value="" required/>
                                </div>
                                <div>
                                    <label for="shippingCity" class="form-label">City:</label>
                                    <input type="text" class="form-control" id="shippingCity" name="shippingCity" value="" required/>
                                </div>
                                <div>
                                    <label for="shippingZipcode" class="form-label">Zipcode:</label>
                                    <input type="text" class="form-control" id="shippingZipcode" name="shippingZipcode" value="" required/>
                                </div>
                                <div class="mb-3">
                                    <label for="shippingAdress" class="form-label">Adress:</label>
                                    <input type="text" class="form-control" id="shippingAdress" name="shippingAdress" value="" required/>
                                </div>
                                <label>&nbsp;</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
